<a href="https://colab.research.google.com/github/hhsharma5/notebookTrials/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
Panda's have 2 types of data styles - 
Series : Linear data
DataFrame : Tabular data
'''

import pandas as pd

df = pd.read_csv("example.csv")

print(df)

   Column1 Column2  Column3
0        1       A      100
1        2       B      200
2        3       C      150
3        4       A      120
4        5       B      210
5        6       C      180
6        7       A      130
7        8       B      220
8        9       C      170
9       10       A      140

In [4]:
print(type(df))
print(df['Column2'])
print(type(df['Column2']))

<class 'pandas.core.frame.DataFrame'>
0    A
1    B
2    C
3    A
4    B
5    C
6    A
7    B
8    C
9    A
Name: Column2, dtype: object
<class 'pandas.core.series.Series'>

In [7]:
print(df[['Column1', 'Column2']])

map = {
    'key1' : ['a', 'b', 'c'],
    'key2' : ['1', '2', '3']
}

dfNew = pd.DataFrame(map)
print(dfNew)

   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       A
4        5       B
5        6       C
6        7       A
7        8       B
8        9       C
9       10       A
  key1 key2
0    a    1
1    b    2
2    c    3

In [12]:
# Instead of the inbuilt index, we can even create our own indexes

df = pd.DataFrame(map, index=['Person1', 'Person2', 'Person3'])
print(df)
print(df.loc['Person3'])

# Normally you'll be passing a list instead of these indexes

        key1 key2
Person1    a    1
Person2    b    2
Person3    c    3
key1    c
key2    3
Name: Person3, dtype: object

In [13]:
# You can even locate by indexes

print(df.iloc[2])

key1    c
key2    3
Name: Person3, dtype: object